.app-wrapper{
  background:cadetblue;
  position: relative;
}
.app-wrapper h1{
  position: fixed;
  top:0;
  z-index:600;
}
.start-rules,
.add-players,
.game-tracker{
  position: fixed;
  top:0;
  width:60%;
  height: 80%;
}
.start-rules{
  z-index: 500;
}
.add-players{
  z-index: 400;
}
.game-tracker{
  z-index: 300;
}

.wrapper{
  background:lightskyblue;
  margin-top:100px;
}